doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title Squares Game
        link(rel='stylesheet', href='/css/main.css')
        script(src='/js/main.js')
        script(src='/socket.io/socket.io.js')
    body
        canvas#canvas(width='900', height='600')
        script.
            (function () {
                Z.game.init();
            })();