doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title Phaser Game
        script(src='/socket.io/socket.io.js')
        script(src='/bower_components/phaser/build/phaser.min.js')
        script(src='/js/phaser-app.js')
    body